* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1024px) {
  #search {
    width: 600px;
  }
}

a {
  text-decoration: none;
}

#kategori {
  border-radius: 10px;
}

.carousel {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
}

.carousel img {
  border-radius: 10px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
}
